@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
}

body {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100vh;
  background: rgb(20, 20, 20) !important; 
  position: relative;
  user-select: none;   
  font-family: 'Roboto', sans-serif;
  z-index: 1;
}

/* fade in */
body {

  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 1s; /* Firefox < 16 */
      -ms-animation: fadein 1s; /* Internet Explorer */
       -o-animation: fadein 1s; /* Opera < 12.1 */
          animation: fadein 1s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* end of fade things */

/*Copy tooltip thing */
.my-tool-tip {
  color:black;
}
/*Img things*/
img {
    position: absolute;
    top: 8px;
    left: 1vh;
    font-size: 18px;
    display: flex;
    flex-wrap:wrap;
    transform: scale(120%) translateY(30%)

}

.responsive {
    width: 100%;
    max-width: 55px;
    max-height: fit-content;
    height: auto;
    padding-bottom: 0;
}

/*Name / Top thing*/
name {
	color: #2A482B;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translateX(-50%) translateY(-50%) scale(1, 1);
	transition: 0.5s ease-in-out;
  font-size: 56px;
  font-weight: 400;
  font-family: 'Titan One', cursive;
}

name.top {
	top: 0;
  flex:content;
	transform: translateX(-50%);
  font-size: 56px;
	float: right;
  opacity: 100;
  z-index: 1;
  padding-bottom: 12px;
}

name.top a{
  text-decoration: underline;
	color: #2A482B;
}
name.top a:hover {
  color: rgba(177, 177, 177, 0.374);
}

name.top-sub {
	top: 0;
  flex:content;
	transform: translateX(-50%);
  font-size: 64px;
	float: right;
  opacity: 100;
  color: rgba(240, 248, 255, 0.734); 
  transform: translateY(210%) translateX(-50%);
  font-size: 1.3rem; margin: 0;
  font-weight: 900;
  font-family: "Roboto Mono", monospace
}

/* Rounded border */
#rounded {
  border-radius: 13px;
  background: #000000;
  padding: 3px;
  color: #FFF;
  text-align: center;
  height: 20px;
  margin-left: 25%;
  margin-right: 25%;
    
}

#rounded div {
  background-color: orange;
  /* Adjust with JavaScript */
  height: 10px;
  border-radius: 10px;
  left: 0;
}

/*Cards*/
body .container {
  transition: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 40px 0 0;
  padding-top: 10px;
}

body .container .card {
  position: relative;
  min-width: 320px;
  height: 440px;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 30px 13px rgba(255,255,255,0.06); 
  box-shadow: 0px 0px 30px 13px rgba(255,255,255,0.06);
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  transition: 0.1s;
}

body .container .card:nth-child(1) .box .content a {
  background: #2196f3;
}

body .container .card:nth-child(2) .box .content a {
  background: #e95e1e;
}

body .container .card:nth-child(3) .box .content a {
  background: #20873d;
}

body .container .card:nth-child(4) .box .content a {
    background: #211333;
}

body .container .card:nth-child(5) .box .content a {
    background: #a432c0;
}

body .container .card:nth-child(6) .box .content a {
    background: #c13323;
}

body .container .card:nth-child(7) .box .content a {
  background: #213833;
}

body .container .card:nth-child(8) .box .content a {
  background: #17333b;
}


body .container .card:nth-child(9) .box .content a {
  background: #b756c0;
}


/* card id long */
body .container .card#long{
  height: 400px;
  width: 90%;
}

body .container .card#long .box a:hover{
  z-index: 1;
}
@media only screen and (max-width: 650px) {
  body .container .card#long{height: 475px;}
}
@media only screen and (max-width: 550px) {
  body .container .card#long{height: 900px;}
}
body .container .card#long .box:hover{
  transform: scale(103%);
}
/* end of card id long */
body .container .card .box {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background: #2a2b2f;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.2s;
}

body .container .card .box:hover {
  transform: scale(105%);
}


body .container .card .box:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.03);
}

body .container .card .box .content {
  padding: 20px;
  text-align: center;

}

body .container .card .box .content h2 {
  position: absolute;
  top: -10px;
  right: 30px;
  font-size: 8rem;
  color: rgba(255, 255, 255, 0.1);
  display: block;
  padding-top: 0;
  padding-right: 0;
}


body .container .card .box .content h3 {
  font-size: 1.8rem;
  color: #fff;
  z-index: 1;
  transition: 0.0s;
  margin-bottom: 15px;
}

body .container .card .box .content .p {
  font-size: 1rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.9);
  z-index: 1;
  transition: 0.0s;
}

body .container .card .box .content .p b {
  font-weight: 900;
}

body .container .card .box .content .p a {
  text-decoration: underline;
  background: #0000001f;
  color: #fff;
  margin-top: 0px;
  transition: 0;
  border-radius: 3px;
  box-shadow: none;
  padding: 0px 2px;
  font-weight: 650;
}

body .container .card .box .content a#cs {background-color: black ; color: white !important; cursor: not-allowed;}
body .container .card .box .content a#cs:hover{
  transform: scale(102%) translateY(-0px);

}

body .container .card .box .content .p a:hover {
  box-shadow: none;
  background: rgba(0, 0, 0, 0.753) !important;
  color: rgb(255, 255, 255);
  transform: scale(102%) translateY(-1px);
}

body .container .card .box .content a {
  position: relative;
  display: inline-block;
  padding: 8px 15px;
  background: black;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  margin-top: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.767);
  font-size: 1rem;
  transition: 0.2s;
  font-weight: 750;
}
body .container .card .box .content a:hover {
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.6);
  background: #fff;
  color: #000;
  transform: scale(110%) translateY(-5px);
}


/*            */
/*            */
/*            */
/*End of card*/
/*            */
/*            */
/* Content things below*/

body .nhcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 40px 0 0 0;
  padding-top: 0vh;
  padding-bottom: 0;
  height: 10vh;
  
}

body .nhcontainer .content {
  padding: 20px;
  text-align: center;
  transform: translateY(-15rem);
  margin-left: 50px; 
  margin-right:50px;
}

body .nhcontainer .content h2 {
  font-size: 3rem;
  color: white
}

body .nhcontainer .content h3 {
  font-size: 2.3rem;
  color: rgba(255, 255, 255, 0.912);
}

body .nhcontainer .content h4{
  font-size: 1.9rem;
  color: rgba(255, 255, 255, 0.748);
}

body .nhcontainer .content .p {
  color: rgba(237, 234, 234, 0.864);
  font-size: 1.2rem;
}

body .nhcontainer .content .p a {
  text-decoration: none;
  background: rgba(74, 77, 99, 0.699);
  margin-top: 0px;
  transition: 0;
  border-radius: 0px;
  box-shadow: none;
  padding: 0px 2px;
}

body .nhcontainer .content .p a:hover {
  box-shadow: none;
  background: rgba(0, 0, 0, 0.404) !important;
  color: rgba(255, 255, 255, 0.74);
  transform: scale(105%) translateY(-2px);
}

body .nhcontainer .content a {
  position: relative;
  display: inline-block;
  padding: 8px 15px;
  background: black;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  margin-top: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  font-size: 1rem;
  transition: 0.3s;
  z-index: 1;
}
body .nhcontainer .content a:hover {
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.6);
  background: #fff !important;
  color: #000;
  transform: scale(110%) translateY(-5px);
  z-index: 1000000;
}

body .nhcontainer .content button {
  position: relative;
  display: inline-block;
  padding: 8px 19px;
  background: black;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  margin-top: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  font-size: 1rem;
  transition: 0.3s;
  z-index: 2;
}
body .nhcontainer .content button:hover {
  margin-top: 15px;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.6);
  background: #fff !important;
  color: #000;
  transform: translateY(-0.47vh);
  z-index: 1;
}

body .nhcontainer .content li{
  text-align: left;
  font-size: 1.1rem;
  color: rgba(240, 248, 255, 0.631);
}


/*Phone and tablet font sizing*/
@media only screen and (max-width: 1600px) {
  body .nhcontainer {
    padding-top: 2.5rem;
  }
}

@media only screen and (max-width: 1300px) {
  body .nhcontainer {
    padding-top: 3.5rem;
  }
}

@media only screen and (max-width: 1100px) {
  body .nhcontainer {
    padding-top: 8.5rem;
  }
}

@media only screen and (max-width: 1000px) {
  name.top {
    font-size: 44px;
  }
  name.top-sub {
    padding-top: 1vh;
    transform: translateY(113%) translateX(-50%);
  }

  body .container .card .box .content h3 { 
    font-size: 1.625rem;
  }

  body .container .card .box .container h2 {
    font-size: 4rem;
  }

  body .container .card .box .content p {
    font-size: 0.95rem;
  }
  
  body .container .card .box .content a {
    font-size: 0.9rem;
  }

  body .container .card .box .content a:hover {
    transform: scale(105%) translateY(-2.5px);
  }

  body .container .card .box:hover {
    transform: scale(102.5%);
  }

  .material-icons-outlined.md-8r {
    padding-right: 5.6rem;
  }

  body .nhcontainer {
    padding-top: 15rem;
    transform: scale(80%);
  }

  body .nhcontainer .content {
    margin-left: 0.25%;
    margin-right: 0.25%;
  }

  body .nhcontainer .content h2 {
    font-size: 4rem;
  }

  body .nhcontainer .content p {
    font-size: 0.95rem;
  }
}


@media only screen and (max-width: 600px) {
  body .nhcontainer {
    padding: 0;
    margin: 0;
    padding-top: 23rem;
  }
  body .nhcontainer .content {
    padding: 0px;
    margin-left: 3px;
    margin-right: 3px
  }
}

/* width */
::-webkit-scrollbar {
  width: 0.88vh;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(20, 20, 20);
  padding: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(158, 158, 158); 
  border-radius: 5px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(119, 119, 119); 
}


/*Google icons sizing / colors and more*/
.material-icons-outlined.md-8r {font-size: 8rem; user-select: none;}
.material-icons-outlined.md-16r {font-size: 16rem; user-select: none;}
.material-icons-round.md-8r {font-size: 8rem; user-select: none;}
