/* '* {}' will effect everything */
* { /* Poor Man's Reset */
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
/* body styling, padding, margin 0, text-align: center, font-family open sans, margin left & right is 10px */
body {
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: "Open Sans", Arial, sans-serif;
    margin-left: 10px;
    margin-right: 10px;
}

/* cards */
/* root targets the highest level parent element */
:root {
	--card-height: 40vw;
	--card-margin: 4vw;
	--card-top-offset: 1em; 
	--numcards: 4;
	--outline-width: 0px; 
} 

/* cards, padding bottom and margin bottom calculations, based on the number or cards, card-top-offset and card-margin */
#cards {
	padding-bottom: calc(var(--numcards) * var(--card-top-offset)); /* Make place at bottom, as items will slide to that position*/
	margin-bottom: var(--card-margin); /* Don't include the --card-margin in padding, as that will affect the scroll-timeline*/
}

/* id card 1 - 4 */
#card_1 {
	--index: 1;
}

#card_2 {
	--index: 2;
}

#card_3 {
	--index: 3;
}

#card_4 {
	--index: 4;
}
/* end of card 1-4 id */
/* card */
.card {
	position: sticky;
	top: 0;
	padding-top: calc(var(--index) * var(--card-top-offset));
}

/* animations */
@supports (animation-timeline: works) {
	/* scroll timeline */
	@scroll-timeline cards-element-scrolls-in-body {
		/* source selects body */
		source: selector(body);
		/* scroll offsets */
		scroll-offsets:
			/* Start when the start edge touches the top of the scrollport */
			selector(#cards) start 1,
			/* End when the start edge touches the start of the scrollport */
			selector(#cards) start 0
		;
		/* start and end selector for id card */
		start: selector(#cards) start 1; /* Start when the start edge touches the top of the scrollport */
		end: selector(#cards) start 0; /* End when the start edge touches the start of the scrollport */
		/* time range */
		time-range: 4s;
	}

	/* class card */
	.card {
		--index0: calc(var(--index) - 1); /* 0-based index */
		--reverse-index: calc(var(--numcards) - var(--index0)); /* reverse index */
		--reverse-index0: calc(var(--reverse-index) - 1); /* 0-based reverse index */
	}
	/* class card_content */
	.card__content {
		transform-origin: 50% 0%;
		will-change: transform;

		--duration: calc(var(--reverse-index0) * 1s);
		--delay: calc(var(--index0) * 1s);

		animation: var(--duration) linear scale var(--delay) forwards;
		animation-timeline: cards-element-scrolls-in-body;
	}
	/* keyframes for the scaling of the cards */
	@keyframes scale {
		to {
			transform:
				scale(calc(
					1.1
					-
					calc(0.1 * var(--reverse-index))
				));
		}
	}
}



/** PAGE STYLING **/
header,
main {
	width: 80vw;
	margin: 0 auto;
}
/* header */
header {
	height: 100vh;
	display: grid;
	place-items: center;
}

header a {
	background: rgb(188 87 36);
	color: rgb(255 255 255);
	text-decoration: none;
	display: inline-block;
	padding: 0.2em;
	border-radius: 0.15em;
    transition: 0.3s;
	font-size: 2em;
}

header a:hover {
	box-shadow: 0 15px 20px rgba(0, 0, 0, 0.6);
    background-color: rgb(71, 71, 71);
    color: rgb(0, 0, 0);
    transform: scale(110%) translateY(-5px);
	transition: 500ms;
}

/* id cards */
#cards {
	list-style: none;
	outline: calc(var(--outline-width) * 10) solid blue;
	
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(var(--numcards), var(--card-height));
	gap: var(--card-margin);
}
/* class card */
.card {
	outline: var(--outline-width) solid hotpink;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}


/* class card_content */
.card__content {
	box-shadow: 0 0.2em 1em rgba(0, 0, 0, 0.1), 0 1em 2em rgba(0, 0, 0, 0.1);
	background: rgb(255, 255, 255);
	color: rgb(10, 5, 7);
	border-radius: 1em;
	overflow: hidden;

	display: grid;
	grid-template-areas: "text img";
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;

	align-items: stretch;
	outline: var(--outline-width) solid lime;
}
/* card_content > div */
.card__content > div {
	grid-area: text;
	width: 80%;
	place-self: center;
	text-align: left;

	display: grid;
	gap: 1em;
	place-items: start;
}
/* card_content > figure */
.card__content > figure {
	grid-area: img;
	overflow: hidden;
}
/* card_content > figure > img */
.card__content > figure > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* h1  */
h1 {
	font-weight: 300;
	font-size: 3.5em;
}
/* h2 */
h2 {
	font-weight: 300;
	font-size: 2.5em;
}
/* p */
p {
	font-family: sans-serif;
	font-weight: 300;
	line-height: 1.42;
}
/* class btn */
.btn {
	background: rgb(188 87 36);
	color: rgb(255 255 255);
	text-decoration: none;
	display: inline-block;
	padding: 0.5em;
	border-radius: 0.25em;
    transition: 0.1s;
}
/* class btn hovering */
.btn:hover {
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.6);
    background-color: rgb(71, 71, 71);
    color: rgb(0, 0, 0);
    transform: scale(110%) translateY(-5px);
	transition: 500ms;
}
/* id card 1-4 class card_content div p a background colour styling */
#card_1 .card__content div p a{
    background-color:cadetblue;
}

#card_2 .card__content div p a{
    background-color:cornflowerblue;
}

#card_3 .card__content div p a{
    background-color:rgb(160, 95, 157);
}

#card_4 .card__content div p a{
    background-color:rgb(160, 95, 95);
}

.card__content div p a {
    transition: all 1s ease;
}

/* end of styling card_content div p a's */
/* end of cards */

/* Asides */
aside {
    padding-top: 3rem;
	width: 100%;
    padding-left: 12.5%;
    padding-right: 12.5%;
	margin: 0 auto;
	text-align: left;
	background:linear-gradient(179deg, rgb(27, 27, 27) 0, rgb(27, 27, 27) 21%, rgb(30, 30, 30) 21%, rgb(30, 30, 30) 63.5%, rgb(32, 32, 32) 63%, rgb(32, 32, 32) 87%, rgb(34, 34, 34) 70%, rgb(34, 34, 34) 100%);
    color: white;
	padding-bottom: 5%;
}



/* aside p */
aside p {
	margin-bottom: 1em;
}

aside div#Abt{	margin-left: 5em; margin-right: 5em;}

/* aside img */
aside img{
	border-radius: 12px;
}

/* aside p img */
aside p img {
    position: relative;
    float:left;
    padding: 0 10px 0 0;
	border-radius: 24px;
}

/* aside div class port p i */
aside div#Port p i {
    color: rgb(209, 209, 209);
}
/* aside p h2 */
aside p  h2{
	margin-bottom: 3%;
}
aside div#Port {margin-left: 5em; margin-right: 5em;}
/* aside div class port p class right */
aside div#Port p.right{
    text-align: right;
    padding-left: 15%;}
/* aside div class port p class left */
aside div#Port p.left{
    text-align: left;
    padding-right: 15%;}
/* aside h1 */
aside h1 {
    text-align: center;
}

/* aside for services */

aside div#Serv div#right h2 img{
	float: right;
	padding: 0 10px 0 10px;
	max-width: 512px;
}

aside div#Serv{margin-left: 5em; margin-right: 5em;}

aside div#Serv div#left h2 img{
	float: left;
	padding: 0 10px 0 10px;
	max-width: 512px;
}


/* end of asides */

/* form */
form {
    font-size: large;
    padding: 30px;
    margin: 0;
    color: white;
}

form h4 {
    padding: 10px;
}

/*Styling input*/
/* most of this was just robbed from Cafe Carla */

label, input, select:not(type=submit), textarea {
    padding: 10px !important;
	padding-bottom: 0;
    width: 100%;
}

input[type=text], input[type=number], input[type=email], textarea, select {
    width: 100% ;
    padding: 10px;
    margin: 8px, 0;
    box-sizing: border-box;
    border: 2.5px solid #5856C3;
    border-radius: 4px;
}

input[type=text]:focus, input[type=number]:focus, input[type=email]:focus, textarea:focus {
    background-color: #b3b9d54b;
    outline: none !important;
    border: 1px solid #5856C3;
    color: white;
}

select:focus {
    background-color: #ffffffde;
    outline: none !important;
    border: 1px solid #5856C3;
    color: rgb(0, 0, 0);
}


#submit {
    background-color: #5856C3;
    color: rgb(255, 255, 255);
    padding: 6px;
    margin: 4px, 2px;
    border-radius: 4px;
    border: none;
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
}

textarea {
    font-size: larger;
}
/* end of styling inputs, this might all change in the final version, but it's okay as it is */

/* phone / tablet sizing */

@media only screen and (max-width: 430px) {
    .card__content div h2 {
        font-size: 24px;
    }
    .card__content div p{
        font-size: 14px;
    }
	aside p {
		font-size: 12px;
	}
	aside p img {
		max-width: 48px !important;
	}
	aside div#Abt{	margin-left: 1em; margin-right: 1em;}
	aside div#Port{	margin-left: 1em; margin-right: 1em;}
	aside div#Serv{	margin-left: 1em; margin-right: 1em;}
	aside {
		padding-left: 5px;
		padding-right: 5px;
	}
}

@media only screen and (max-width: 800px) {
	aside div#Abt{	margin-left: 1em; margin-right: 1em;}
	aside div#Port{	margin-left: 1em; margin-right: 1em;}
	aside div#Serv{	margin-left: 1em; margin-right: 1em;}
	aside div#Serv h2 img{max-width: 64px; width: 100%;}
	header p a {font-size: 0.9em; padding: 3px; padding-bottom: 3px;}
	aside {
		padding-left: 0.5vh;
		padding-right: 0.5vh;
	}
}

@media only screen and (max-width: 1550px){
	aside h1{
		font-size: smaller;
	}
	body{margin-left: 1px; margin-right: 1px;}

	aside #Serv #right img, aside #Serv #left img{
		float: none !important;
		vertical-align: text-top;
		padding: 0 10px 0 00px;
		max-width: 512px;
	}
	aside #Serv{justify-content: center;}
	aside #Serv h2, aside #Serv p, aside {
		text-align: center;
	}
	aside #Serv p{
		padding-top: 0px;
	}
	aside #Serv h2 img {
		justify-content: center;
	}
}

@media only screen and (min-width: 1200px) {
    .card__content div h2 {
        font-size: 60px;
    }
    .card__content div p{
        font-size: 36px;
    }
    header div h1 {
        font-size: 64px;
    }
    header div p {
        font-size: 56px;
    }
	header div p a {font-size: 1em;}
    aside h1 {
        font-size: 56px;
    }
    aside p {
        font-size: 20px;
    }
	aside div#Abt{	margin-left: 1em; margin-right: 1em;}
	aside div#Port{	margin-left: 1em; margin-right: 1em;}
	aside div#Serv{	margin-left: 1em; margin-right: 1em;}
	aside div#Serv h2 img{max-width: 64px; width: 85%;}
}
/* end of phone/tablet sizings */

/* Making sure that the type="number" doesn't have up and down arrows */



/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.material-icons-outlined.md-24 {font-size: 48px; user-select: none;}

.material-icons-outlined.md-24:hover {background-color: #5856c350; transition: ease-in-out 150ms; color: white;}